<div ng-init="getQuestion()">
	<h3> {{question.title}} </h3>
	<h5> {{question.description}} </h5>

	<span>Your Answer</span> <textarea rows="3" cols="30" ng-model="newanswer.comment"></textarea><br>
	<span>Supporting Details for your answer(Optional)</span> <textarea rows="2" cols="30" ng-model="newanswer.details"></textarea><br>

	<button ng-click="cancel()">Cancel</button>&nbsp
	<button ng-show="isValid()" ng-click="newAnswer()">Submit</button> <br>
	<p ng-show="!isValid()" style="color:red">Please input at least 15 characters for each field</p>
</div>


