<style>
</style>
<div>
  <button ng-hide="getLoggedUser()" ng-click="logIn()">Login</button>
  <h3 ng-hide="getLoggedUser()">Press Login to ask a question and answer</h3>
  <button ng-show="getLoggedUser()" ng-click="logOut()">LogOut</button>
</div>

Search: <input type="text" ng-model="filter_name">
<table class="table table-condensed" ng-init="getQuestions()">
    <thead>
        <tr>
            <th>Quetion</th>
            <th>Answers</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='question in questions | filter: filter_name | orderBy: "-createdAt"'>
            <td ng-bind='question.title'></td>
            <td ng-bind='question._answers.length'></td>
            <td> <a ng-href="/#question/{{question._id}}">Show</a> <a ng-href="/#answers/{{question._id}}">Answer</a></td>
        </tr>
    </tbody>
</table>