<h3>Put the questions and options here</h3>
<!-- var ElectionSchema = new mongoose.Schema({
	_creator: {type: Schema.Types.ObjectId, ref: 'Users'},	
	title: String, 
	description: String,
	options: [String],
	votes: [Number]
}, {timestamps: true}); -->

<span>Question</span> <input type="text" ng-model="newSurvey.question"><br>

<div ng-repeat="option in newSurvey.options track by $index">
<span>Option{{$index}}</span> <input type="text" ng-model="newSurvey.options[$index]"><br>
</div>
<span>

</span>

<button ng-click="cancel()">Cancel</button>&nbsp
<button ng-show="isValid()" ng-click="addNewSurvey()">Submit</button> <br>
<p ng-show="!isValid()" style="color:red">Please input question(at least 8) and description (at least 3) and There should be no empty field</p>