<div ng-controller="questionController" ng-init="getQuestions(3)">
	Hi {{getLoggedUser()}}! <br>
	Choose an answer for each of the questions and submit the test once done.
	Good luck!

	<div ng-repeat='question in questions'>
		<br>
		{{$index+1}}.&nbsp {{question.question}}? <br>
		<div ng-repeat='answer in question.answers'>
			<input type="radio" ng-model="question.answer" value="{{$index + 1}}">{{answer}}<br>
		</div>
	</div> <br>

	<button ng-click="cancel()">Cancel</button> &nbsp <button ng-click="submitAnswers()">Submit</button>
</div>


